[submodule "dosbox-pure"]
	path = dosbox-pure
	url = https://github.com/Buyukcaglar/dosbox-pure.git
[submodule "dosbox-pure-unleashed"]
	path = dosbox-pure-unleashed
	url = https://github.com/Buyukcaglar/dosbox-pure-unleashed.git
[submodule "ZillaLib"]
	path = ZillaLib
	url = https://github.com/schellingb/ZillaLib.git
